.skillsList {
    font-size: 25px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    overflow: hidden;


    &.active {
        background-color: black;
        color: white;
        overflow: hidden;

    }

}